html {
    margin: 0;
}

.parallax {
    position: relative;
    z-index: 0;
    min-height: 100vh;
    display: grid;
    grid-template-areas: "stack";
}

.parallax > * {
    grid-area: stack;
    animation: parallax linear;
    animation-timeline: scroll();
  }

#svgContainer {        
    margin: 0;
    z-index: 5;    
  }

  .parallax__bg {
    background-color: rgb(8, 12, 54);    
    z-index: 1;    
  }

  .parallax__mainText {
    font-family: Roboto, Lato, Helvetica, sans-serif;
    font-size: 3em;
    color: white;
    z-index: 10;    
    position: relative;
    margin: 100px;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  @keyframes parallax {
    to {
      transform: 
      translateY(calc(var(--parallax-speed) * 200px));
    }
  }