html, body {
    margin: 0;
}

/*
.container {
    max-width: 90vw;
    margin: auto;
}
*/


.parallax {   
    position: relative;
    min-height: 90vh;
    width: 100%;
    z-index: 0;
    display: grid;
    grid-template-areas: "stack";
    background-color: rgb(5, 3, 29);
}

.parallax > * {
    grid-area: stack;
    animation: parallax linear;
    animation-timeline: scroll();
  }

#svgContainer { 
    height: 90vh;
    /* For responsive, use scale to fix fitting */
  }

  .parallax__crop {
    height: 90vh;
    overflow: hidden;
    z-index: 5;  
    --parallax-speed: 3;  
  }

  .parallax__bg {
    background-color: rgb(8, 12, 54);
    z-index: 1;    
    --parallax-speed: -5; 
  }

  .parallax__bg2 {
    background-color: rgb(8, 75, 75);
    z-index: 1;    
    --parallax-speed: 0; 
  }

  .parallax__logo {
    z-index: 10;
    position: relative;
    left: 10%;
    width: 20%;
    --parallax-speed: 5;
  }

  .vertical-center > img {
   width: 100%;
  }

  .parallax__mainText {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: white;
    z-index: 10;    
    position: relative;
    left: 60%;
    width: 30%;
    text-align: right;
    --parallax-speed: 5;
  }

  .parallax__text2 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: white;
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);        
    text-align: center;
    z-index: 10;
    --parallax-speed: 1;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  @keyframes parallax {
    to {
      transform: 
      translateY(calc(var(--parallax-speed) * 200px));
    }
  }

.main {
  position: relative;
  background-color: black;
  margin: 0;
}

  .bodyText {
    margin: auto;
    padding: 50px;
    max-width: 1000px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1em; 
    color: white;   
  }

/* For tablets */
  @media only screen and (max-width: 1000px) {
    #svgContainer {
      scale: 2;
    }
  }

  @media only screen and (max-width: 800px) {
    #svgContainer {
      scale: 2.5;
    }
  }

  @media only screen and (max-width: 640px) {
    #svgContainer {
      scale: 3;
    }
  }